@import "styles";

.timer {
  color: white;

  &__value {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    @include color("timer-player-", $playerColors, color, 10);
    transition: color 0.3s;

    &--blinking {
      animation: blinking 1s infinite;
    }

    &--upsideDown {
      top: auto;
      bottom: 20px;
      transform: translateX(-50%) rotate(180deg);
    }
  }

  &__buffer {
    margin-left: 10px;
  }

  &__buttons {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
  }

  &__buttonWrapper {
    padding: 20px 5px 10px;

    &:first-child {
      padding-left: 10px;
    }

    &:last-child {
      padding-right: 20px;
    }
  }

  &__button {
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--playPause,
    &--reset {
      @include button-active-hover("", null, white, border);
      border-width: 2px !important;
      width: 40px;
      opacity: 0.7;
    }

    &--next {
      padding: 0 20px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      @include button-active-hover(
        "timer-player-",
        $playerColors,
        null,
        background
      );
      transition: background-color 0.3s;
    }
  }
}

@keyframes blinking {
  50% {
    opacity: 0;
  }
}
