<div [class]="'timer timer-player-' + (playerPlaying$ | async)?.color">
  <ng-container *ngIf="(timer$ | async).type !== TimerType.OFF">
    <div
      class="timer__value"
      [ngClass]="{
        'timer__value--blinking': (timerBlinking$ | async),
        'timer__value--upsideDown': val
      }"
      *ngFor="let val of [0, 1]"
    >
      <span
        *ngIf="
          (timer$ | async).type !== TimerType.BY_PLAYER ||
            (timer$ | async).value === 0;
          else bufferTimer
        "
        >{{
          ((timer$ | async).type === TimerType.BY_TURN
            ? (timer$ | async).value
            : (playerPlaying$ | async)?.timer
          ) | timer
        }}</span
      >
      <ng-template #bufferTimer
        ><span>({{ (timer$ | async).value | timer }})</span></ng-template
      >
    </div>
  </ng-container>
  <div class="timer__buttons" *ngIf="!(creatureDragging$ | async)">
    <ng-container *ngIf="(timer$ | async).type !== TimerType.OFF">
      <button class="timer__buttonWrapper" (click)="playToggle()">
        <div class="timer__button timer__button--playPause">
          <i
            [class]="(timer$ | async).running ? 'icon-pause2' : 'icon-play3'"
          ></i>
        </div>
      </button>
      <button
        class="timer__buttonWrapper"
        (click)="resetTimer()"
        *ngIf="(timer$ | async).type === TimerType.BY_TURN"
      >
        <div class="timer__button timer__button--reset">
          <i class="icon-reload"></i>
        </div>
      </button>
    </ng-container>
    <button
      class="timer__buttonWrapper"
      (click)="nextPlayer()"
      *ngIf="(playerService.bindList() | async).length > 1"
    >
      <div class="timer__button timer__button--next">
        {{ "NEXT_PLAYER" | translate }}
      </div>
    </button>
  </div>
</div>
