@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?s777lu');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?s777lu#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?s777lu') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?s777lu') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?s777lu##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-evil2 {
  &:before {
    content: $icon-evil2; 
  }
}
.icon-hipster {
  &:before {
    content: $icon-hipster; 
  }
}
.icon-hipster2 {
  &:before {
    content: $icon-hipster2; 
  }
}
.icon-reload {
  &:before {
    content: $icon-reload; 
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil; 
  }
}
.icon-bin2 {
  &:before {
    content: $icon-bin2; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-flag {
  &:before {
    content: $icon-flag; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark; 
  }
}
.icon-stopwatch {
  &:before {
    content: $icon-stopwatch; 
  }
}
.icon-cancel-circle {
  &:before {
    content: $icon-cancel-circle; 
  }
}
.icon-play3 {
  &:before {
    content: $icon-play3; 
  }
}
.icon-pause2 {
  &:before {
    content: $icon-pause2; 
  }
}
.icon-evil {
  &:before {
    content: $icon-evil; 
  }
}
.icon-plus2 {
  &:before {
    content: $icon-plus2; 
  }
}
.icon-blocked {
  &:before {
    content: $icon-blocked; 
  }
}
.icon-minus-square {
  &:before {
    content: $icon-minus-square; 
  }
}
.icon-plus-square {
  &:before {
    content: $icon-plus-square; 
  }
}

