@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?mfgde4');
  src:  url('#{$icomoon-font-path}/icomoon.eot?mfgde4#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?mfgde4') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?mfgde4') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?mfgde4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus-square {
  &:before {
    content: $icon-plus-square;
  }
}
.icon-minus-square {
  &:before {
    content: $icon-minus-square;
  }
}
.icon-reload {
  &:before {
    content: $icon-reload;
  }
}
.icon-eyedropper {
  &:before {
    content: $icon-eyedropper;
  }
}
.icon-spades {
  &:before {
    content: $icon-spades;
  }
}
.icon-bin2 {
  &:before {
    content: $icon-bin2;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-cross {
  &:before {
    content: $icon-cross;
  }
}

