$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/styles/icomoon/fonts" !default;

$icon-plus2: "\e901";
$icon-blocked: "\e902";
$icon-evil2: "\e9f0";
$icon-hipster: "\e9f9";
$icon-hipster2: "\e9fa";
$icon-reload: "\e900";
$icon-pencil: "\e905";
$icon-bin2: "\e9ad";
$icon-menu: "\e9bd";
$icon-flag: "\e9cc";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-stopwatch: "\e952";
$icon-cancel-circle: "\ea0d";
$icon-play3: "\ea1c";
$icon-pause2: "\ea1d";
$icon-evil: "\e9ef";
$icon-enlarge2: "\e98b";
$icon-shrink2: "\e98c";
$icon-minus-square: "\e904";
$icon-plus-square: "\e903";

