$icomoon-font-path: "/styles/icomoon/fonts" !default;

$icon-reload: "\e900";
$icon-eyedropper: "\e90a";
$icon-spades: "\e917";
$icon-bin2: "\e9ad";
$icon-menu: "\e9bd";
$icon-heart: "\e9da";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-cross: "\ea0f";

