@import "styles";

.playerList {
  margin: 10px 0 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  padding: 15px;
  max-height: calc(100vh - 25px);

  &.creatureDragging {
    border: 5px dashed hsla(0, 0%, 100%, 0.5);
    padding: 10px;
    border-radius: 10px;
  }

  &__dragTooltip {
    opacity: 0;
    transition: opacity 0.3s;
    color: white;
    margin: 5px 0 20px 0;
    font-size: 20px;

    .creatureDragging & {
      opacity: 0.5;
    }
  }

  &__element {
    flex-basis: 120px;
    flex-shrink: 1;
    flex-grow: 0;
    min-height: 60px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    border: 5px dashed white;
    color: white;
    font-size: 30px;
    line-height: 18px;
    opacity: 0.5;
    display: inline;

    @media (hover: hover) {
      &:hover {
        opacity: 0.4;
      }
    }

    &:active {
      opacity: 0.3;
    }

    &__label {
      font-size: 20px;
      display: block;
      margin-top: 15px;
    }
  }
}

@keyframes appearFromRight {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  100% {
    opacity: 0.6;
    transform: translateX(0);
  }
}

@keyframes disappearToLeft {
  0% {
    opacity: 0.6;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
