@import "styles";

.playerList {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: 20px 0;

  &__element {
    height: 120px;
    flex-basis: 120px;
    flex-shrink: 1;
    flex-grow: 0;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;

    &:last-child {
      margin-bottom: auto;
    }
  }

  &__player {
    border: 5px solid white;
    background-color: white;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    @each $color in $playerColors {
      $i: index($playerColors, $color);

      &.color-#{$i} {
        border-color: $color;
        background-color: rgba(0, 0, 0, 0.582);

        &:before {
          content: '';
          position: absolute;
          z-index: -1;
          background-color: $color;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          opacity: 0.2;
        }

        .playerList__player__score {
          color: $color;

          &.underscore:after {
            background-color: $color;
          }
        }
      }
    }

    &__name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      height: 25px;
      white-space: nowrap;
      overflow: hidden;
      color: rgba(255, 255, 255, 0.534);
      max-width: 100px;
      text-align: center;
    }

    &__score {
      position: absolute;
      top: 10px;
      left: 14px;
      font-size: 40px;

      &.upsideDown {
        left: auto;
        top: auto;
        bottom: 10px;
        right: 14px;
        transform: rotate(180deg);
      }

      &.underscore {
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 2px;
        }
      }
    }
  }

  &__button {
    border: 5px dashed white;
    color: white;
    font-size: 30px;
    line-height: 18px;
    opacity: 0.7;
  }
}
