<div #playerList class="playerList">
  <div *ngFor="let player of (players$ | async)" [class]="'playerList__player playerList__element player-color-' + player.color" [ngClass]="{'highlighted': player.playing && !(creatureDragging$ | async), 'isHovered': isHovered(player.id)}">
    <button class="playerList__player__button" (click)="selectPlayer(player.id)">
      <div class="playerList__player__name">{{player.name}}</div>
      <div class="playerList__player__score">
        <span class="playerList__player__score__score" [ngClass]="{'underscore': player.score === 6 || player.score === 9}">{{player.score}}</span>
        <span class="playerList__player__score__modifier" *ngFor="let conqueringScore of (getConqueringScores$(player.id) | async)">
          {{conqueringScore.score > 0 ? '+' : ''}}{{conqueringScore.score}}
        </span>
      </div>
      <div class="playerList__player__score upsideDown">
        <span class="playerList__player__score__score" [ngClass]="{'underscore': player.score === 6 || player.score === 9}">{{player.score}}</span>
        <span class="playerList__player__score__modifier" *ngFor="let conqueringScore of (getConqueringScores$(player.id) | async)">
          {{conqueringScore.score > 0 ? '+' : ''}}{{conqueringScore.score}}
        </span>
      </div>
    </button>
    <div class="playerList__player__playing" [ngClass]="{'display': player.playing && !(creatureDragging$ | async)}">
      {{'PLAYING' | translate}}
    </div>
    <div class="playerList__player__playing" [ngClass]="{'display': isHovered(player.id)}">
      {{'CHANGE_OWNER' | translate}}
    </div>
    <div class="playerList__player__valueButtons" *ngIf="!(creatureDragging$ | async)">
      <button class="playerList__player__valueButton" (click)="increaseScore(player.id, $event)"><i class="icon-plus-square"></i></button>
      <button class="playerList__player__valueButton" (click)="decreaseScore(player.id, $event)" [disabled]="player.realScore === 0"><i class="icon-minus-square"></i></button>
    </div>
  </div>
  <button class="playerList__button playerList__element" (click)="addPlayerClicked()" *ngIf="((playerService.bind() | async).length < MAX_PLAYERS && ((baseService.bind() | async).length === 0 || (playerService.bind() | async).length < 2)) && !(creatureDragging$ | async)">
    <i class="icon-plus"></i>
    <span class="playerList__button__label">{{'ADD_PLAYER' | translate}}</span>
  </button>
</div>
