<div #base
  *ngIf="(base$ | async)"
  [class]="'base base-color-' + (base$ | async).color"
  [ngClass]="{'detailsMode': detailsMode$ | async, 'editMode': editMode$ | async, 'conquered': (base$ | async).resistance <= 0, 'dragging': draggable?.dragging, 'noCreature': (base$ | async).creatures.length === 0, 'creatureDragging': creatureDragging$ | async, 'isHovered': isHovered}"
  [ngStyle]="{'transform': transform, 'left.%': draggable?.coordinates[0], 'top.%': draggable?.coordinates[1]}"
  (mousedown)="mouseDown($event)"
  (touchstart)="mouseDown($event)"
  (window:mousemove)="mouseMove($event)"
  (window:touchmove)="mouseMove($event)"
  (window:mouseup)="mouseUp()"
  (window:mouseleave)="mouseUp()"
  (window:touchend)="mouseUp()"
  (window:touchcancel)="mouseUp()">

  <div class="base__topPart" *ngIf="(detailsMode$ | async) && !detailModeCreatureId && !(creatureDragging$ | async)">
    <div class="base__resistanceEdit" *ngIf="editMode$ | async">
      <span class="base__resistanceEdit__label">{{'BASE_RESISTANCE' | translate}}</span>
      <button class="base__resistanceEdit__button minus" [disabled]="(base$ | async).maxResistance <= 0" (click)="decreaseResistance()"><i class="icon-minus-square"></i></button>
      <span class="base__resistanceEdit__value">{{(base$ | async).maxResistance}}</span>
      <button class="base__resistanceEdit__button plus" [disabled]="(base$ | async).maxResistance >= BASE_MAX_RESISTANCE" (click)="increaseResistance()"><i class="icon-plus-square"></i></button>
    </div>

    <div class="base__conquestAction" [ngClass]="{'forceConquest': (base$ | async).resistance > 0}" *ngIf="!(editMode$ | async) && ((base$ | async).scores.length > 0)">
      <button class="base__conquestAction__button" (click)="conquerBase()">
        <i class="icon-flag base__conquestAction__button__icon"></i>
        <span>{{((base$ | async).resistance <= 0 ? 'CONQUEST' : 'FORCE_CONQUEST') | translate}}</span>
      </button>
    </div>
  </div>

  <div class="base__card" (click)="exitCreatureDetailMode()">
    <div class="base__card__actions" *ngIf="(detailsMode$ | async) && !detailModeCreatureId && !(creatureDragging$ | async)">
      <button class="base__card__actions__button edit" (click)="toggleEditMode()"><i [class]="(editMode$ | async) ? 'icon-checkmark' : 'icon-pencil'"></i></button>
      <button class="base__card__actions__button delete" (click)="deleteBase()" *ngIf="editMode$ | async"><i class="icon-bin2"></i></button>
    </div>

    <ng-container *ngIf="!(editMode$ | async)">
      <div class="base__card__resistance">
        <span class="base__card__resistance__current">{{(base$ | async).resistance}}</span>
        <span class="base__card__resistance__max" [ngClass]="{'displayed': (base$ | async).resistance !== (base$ | async).maxResistance}">/{{(base$ | async).maxResistance}}</span>
      </div>
      <div class="base__card__resistance upsideDown">
        <span class="base__card__resistance__current">{{(base$ | async).resistance}}</span>
        <span class="base__card__resistance__max" [ngClass]="{'displayed': (base$ | async).resistance !== (base$ | async).maxResistance}">/{{(base$ | async).maxResistance}}</span>
      </div>
    </ng-container>

    <div class="base__card__rewards">
      <span class="base__card__rewards__reward" *ngFor="let reward of (base$ | async).rewards; let i = index">
        {{reward}}
        <ng-container *ngIf="editMode$ | async">
          <button class="base__card__rewards__reward__button plus" [disabled]="reward >= BASE_REWARD_LIMITS[1]" (click)="increaseReward(i)"><i class="icon-plus-square"></i></button>
          <button class="base__card__rewards__reward__button minus" [disabled]="reward <= BASE_REWARD_LIMITS[0]" (click)="decreaseReward(i)"><i class="icon-minus-square"></i></button>
        </ng-container>
      </span>
    </div>
  </div>

  <div class="base__bottomPart">
    <div class="base__colorEdit" *ngIf="editMode$ | async">
      <button [class]="'base__colorEdit__color base-color-picker-color-' + color" *ngFor="let color of (bindAvailableColors() | async)" (click)="chooseColor(color)"></button>
    </div>

    <div class="base__playerScoresReduced" *ngIf="!(editMode$ | async)">
      <div [class]="'base__playerScoresReduced__score score-player-color-' + (playerService.bindFromId(score.playerId) | async).color" *ngFor="let score of (base$ | async).scores; let i = index">
        {{score.score}}
      </div>
    </div>
  </div>

  <div class="base__creaturesWrapper" [ngClass]="{'base__creaturesWrapper--creatureDetails': detailModeCreatureId}" *ngIf="(detailsMode$ | async) && !(editMode$ | async)">
    <div class="base__creatures">
      <ng-container *ngIf="(creatureList$ | async).monsters.length > 0">
        <div class="base__creatures__title" *ngIf="!detailModeCreatureId">{{'MONSTERS' | translate}}</div>
        <div class="base__creatures__player" [ngStyle]="{'width.px': (creatureList$ | async).monsters.length * 50 + 33}">
          <ng-container *ngFor="let monsterId of (creatureList$ | async).monsters">
            <app-creature [creatureId]="monsterId" *ngIf="(!detailModeCreatureId || detailModeCreatureId === monsterId)" (toggleDetailMode)="toggleCreatureDetailMode(monsterId)" [detailModeCreatureId]="detailModeCreatureId"></app-creature>
          </ng-container>
        </div>
      </ng-container>
      <div class="base__creatures__title" *ngIf="(creatureList$ | async).players.length > 0 && !detailModeCreatureId">{{'CREATURES' | translate}}</div>
      <div [class]="'base__creatures__player creature-each-player-color-' + creatureOwner.playerColor" *ngFor="let creatureOwner of (creatureList$ | async).players" [ngStyle]="{'width.px': creatureOwner.creatures.length * 50 + 40}">
        <ng-container *ngFor="let creatureId of creatureOwner.creatures">
          <app-creature [creatureId]="creatureId" *ngIf="(!detailModeCreatureId || detailModeCreatureId === creatureId)" (toggleDetailMode)="toggleCreatureDetailMode(creatureId)" [detailModeCreatureId]="detailModeCreatureId"></app-creature>
        </ng-container>
        <div class="base__creatures__actionsEach" *ngIf="creatureOwner.creatures.length > 1">
          <button (click)="increaseEachCreatureStrength(creatureOwner.creatures)"><i class="icon-plus-square"></i></button>
          <button (click)="decreaseEachCreatureStrength(creatureOwner.creatures)"><i class="icon-minus-square"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="globalActions" *ngIf="(detailsMode$ | async) && !(editMode$ | async) && !detailModeCreatureId && !(creatureDragging$ | async)">
  <div class="globalActions__player globalActions__player--monsters">
    <button class="globalActions__addCreature" (click)="createCreature('monster')">
      <i class="icon-plus icon"></i>
      <i class="icon-evil2 icon"></i>
    </button>
  </div>
  <div [class]="'globalActions__player add-creature-player-color-' + player.color" [ngClass]="{'globalActions__player--playing': player.playing}" *ngFor="let player of (players$ | async)">
    <button class="globalActions__addCreature" (click)="createCreature(player.id)">
      <i class="icon-plus icon"></i>
      <i class="icon-hipster2 icon"></i>
    </button>
    <ng-container *ngIf="player.playing">
      <button class="globalActions__addCreature globalActions__addCreature--quick" *ngFor="let strength of [1, 2, 3, 4, 5]"
        (click)="createCreature(player.id, strength)">
        <span class="strength">{{strength}}</span>
      </button>
    </ng-container>
  </div>
</div>

<div class="backdrop" [ngClass]="{'visible': (detailsMode$ | async) && !(creatureDragging$ | async)}" (click)="exitMoreDetails()"></div>
