@import 'styles';

.base {
  position: fixed;
  user-select: none;
  transition: left 0.5s, top 0.5s, transform 0.5s, z-index 0s ease 0.5s;
  cursor: pointer;
  z-index: 1;

  &.detailsMode {
    cursor: default;
    z-index: 5;
    top: 50% !important;
    left: 20% !important;
    transition: left 0.5s, top 0.5s, transform 0.5s;

    @media (orientation:portrait) {
      top: 15% !important;
      left: 50% !important;
    }

    &.editMode,
    &.noCreature {
      top: 50% !important;
      left: 50% !important;
    }
  }

  &.dragging {
    transition: transform 0.5s;
  }

  &__topPart,
  &__bottomPart {
    pointer-events: none;
    position: absolute;
    height: 0;
    top: 0;
    left: -10px;
    transform: translateY(-100%);
    z-index: -1;

    .detailsMode & {
      pointer-events: auto;
      z-index: 0;
      height: auto;
    }
  }

  &__topPart {
    .editMode & {
      right: 0;
      left: 0;
    }
  }

  &__bottomPart {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
  }

  &__resistanceEdit {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: white;

    &__label {
      margin-right: auto;
      font-size: 20px;
    }

    &__value {
      font-size: 40px;
      margin: 0 8px;
      flex-basis: 45px;
      flex-shrink: 0;
      flex-grow: 0;
      text-align: center;
    }

    &__button {
      font-size: 30px;
      padding: 0 5px;
      @include button-active-hover(null, white, 'simple');
    }
  }

  &__conquestAction {
    margin: 10px;

    &__button {
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 18px;
      @include button-active-hover(null, $danger, 'background');

      .forceConquest & {
        @include button-active-hover(null, $danger, 'border');
      }

      &__icon {
        margin-right: 5px;
      }
    }
  }

  &__card {
    position: relative;
    background-color: rgb(70, 20, 20);
    @include color($baseColors, 'background-gradient');
    border-radius: 15px;
    height: 214px;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    .detailsMode & {
      pointer-events: auto;
    }

    .conquered:not(.editMode) & {
      &:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        bottom: -5px;
        right: -5px;
        border-radius: 15px;
        border: 5px solid $danger;
      }
    }

    &__addScoreList {
      position: absolute;
      bottom: 0;
      left: -50px;
      padding: 10px;

      &__button {
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 5px;
        margin-top: 10px;
        font-size: 17px;
        @include button-active-hover($playerColors, null, 'background');

        &:first-child {
          margin-top: 0;
        }
      }
    }

    &__actions {
      position: absolute;
      left: -50px;
      padding: 10px;
      top: 0;

      &__button {
        height: 30px;
        width: 30px;
        border-radius: 5px;
        display: block;
        font-size: 16px;
        padding: 0;
        text-align: center;

        &.edit {
          @include button-active-hover(null, $primary, 'background');
        }

        &.delete {
          margin-top: 10px;
          @include button-active-hover(null, $danger, 'background');
        }
      }
    }

    &__resistance {
      position: absolute;
      top: 10px;
      left: 15px;
      font-size: 40px;
      line-height: 40px;
      color: white;
      @include color($baseColors, color);

      &.upsideDown {
        top: auto;
        left: auto;
        bottom: 10px;
        right: 15px;
        transform: rotate(180deg);
      }

      &__max {
        opacity: 0;
        transition: opacity 0.5s;

        &.displayed {
          opacity: 0.3;
        }
      }
    }

    &__rewards {
      padding: 0 20px;
      width: 100%;
      display: flex;

      &__reward {
        display: inline-block;
        position: relative;
        font-size: 100px;
        line-height: 100px;
        @include color($baseColors, color);
        padding-bottom: 8px;
        flex-basis: 55px;
        flex-grow: 1;
        flex-shrink: 0;
        text-align: center;

        &:nth-child(2) {
          @include color($baseColors, color, 20);
        }

        &:last-child:last-child {
          margin-right: 0;
          color: white;
        }

        &__button {
          color: inherit;
          font-size: 30px;
          position: absolute;
          top: -40px;
          left: 50%;
          transform: translateX(-50%);
          padding: 0 5px;

          &.minus {
            top: auto;
            bottom: -40px;
          }

          &[disabled] {
            opacity: 0.3;
          }

          @media (hover: hover) {
            &:hover {
              opacity: 0.8;
            }
          }

          &:active {
            opacity: 0.5;
          }
        }
      }
    }
  }

  &__colorEdit {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 300px;

    &__color {
      height: 30px;
      width: 30px;
      border-radius: 5px;
      margin: 0 5px 10px;
      @include button-active-hover($baseColors, null, 'background');
    }
  }

  &__playerScoresReduced {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

    &__score {
      @include color($playerColors, color);
      font-size: 30px;
    }
  }

  &__creaturesWrapper {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 20px;

    @media (orientation:portrait) {
      width: calc(100% + 50px);
      transform: translateY(0);
      left: -25px;
      top: calc(100% + 40px);
      padding-left: 0;
      padding-top: 10px;
      display: flex;
      justify-content: center;
    }
  }

  &__creatures {
    &__title {
      color: white;
      opacity: 0.5;
      margin-left: 5px;
    }

    &__player {
      margin: 10px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-width: calc(65vw - 400px);

      @media (orientation:portrait) {
        width: auto !important;
        max-width: none;
      }

      .base__creaturesWrapper--creatureDetails & {
        margin: 0;
        width: 230px !important;
        transition: none;
      }
    }

    &__actionsEach {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 5px;
      height: 60px;
      overflow: hidden;
      transition: height 0.1s ease 0.3s;

      .base__creaturesWrapper--creatureDetails & {
        height: 0;
        transition: none;
      }

      button {
        @include button-active-hover($playerColors, null, 'simple');
        font-size: 22px;
        padding: 0 5px;
      }
    }
  }

  &__backdrop {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0s ease 0.5s;

    &.visible {
      opacity: 0.6;
      visibility: visible;
      transition: opacity 0.5s;
    }
  }

}

.globalActions {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  padding: 20px 20px 0;
  display: flex;

  @media (orientation:portrait) {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__player {
    display: flex;
    margin: 0 30px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__addCreature {
    @include button-active-hover($playerColors, null, 'background');
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
    font-size: 18px;
    margin: 0 3px 20px 0;
    white-space: nowrap;

    .globalActions__player--playing & {
      border-radius: 0;
    }

    &:first-child {
      .globalActions__player--playing & {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }

    &:last-child {
      margin-right: 0;

      .globalActions__player--playing & {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    &--quick {
      width: 55px;
    }

    .globalActions__player--monsters & {
      @include button-active-hover(null, white, 'border');
    }

    .icon:first-child {
      display: inline-block;
      margin-right: 10px;
    }

    .icon-hipster,
    .icon-hipster {
      font-size: 20px;
    }

    .strength {
      font-size: 24px;
      line-height: 26px;
    }
  }
}
