$primary: #2962FF;
$danger: #D50000;

$bonus: #2E7D32;
$malus: #D50000;

$playerColors: (
  #42A5F5,
  #FF9800,
  #F06292,
  #4CAF50,
  #9575CD,
  #9E9E9E,
);

$baseColors: (
  #66BB6A,
  #FFCA28,
  #26C6DA,
  #7E57C2,
  #EC407A,
  #D4E157,
  #42A5F5,
  #FF7043,
  #8D6E63,
  #78909C,
);
