@import './reset.scss';
@import './colors.scss';
@import './mixins.scss';
@import './icomoon/style.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald:200,500');

* {
  font-family: 'Oswald', sans-serif;
  user-select: none;
}

input {
  user-select: auto;
}
