@import 'styles';

.popin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  max-width: 400px;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  border-radius: 10px;
  z-index: 20;
  padding: 40px;
  transition: opacity 0.5s, transform 0.5s, visibility 0s ease 0.5s;

  &.popin--active {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, transform 0.5s;
  }

  &__closeButton {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
    font-size: 18px;

    @include button-active-hover('', null, rgb(131, 131, 131), 'simple');
  }

  &__title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;

    & + .popin__buttons {
      padding-top: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    padding: 40px 0 0;
  }

  &__button {
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
    padding: 0 20px;
    margin-right: 20px;
    transition: all 0.3s;
    @include button-active-hover('', null, $primary, 'background');

    &:last-child {
      margin-right: 0;
    }

    &[disabled] {
      border-color: rgb(175, 175, 175);
      background-color: rgb(175, 175, 175);
    }

    &.secondary {
      @include button-active-hover('', null, $primary, 'border');

      &[disabled] {
        background-color: transparent;
        color: rgb(175, 175, 175);
      }
    }

    &.danger {
      @include button-active-hover('', null, $danger, 'background');
    }

    &.secondary.danger {
      @include button-active-hover('', null, $danger, 'border');
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 15;
  transition: opacity 0.5s, visibility 0s ease 0.5s;

  &.backdrop--active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
}
