@import 'styles';

.popin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  max-width: 400px;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  border-radius: 10px;
  z-index: 20;
  padding: 40px;
  transition: opacity 0.5s, transform 0.5s, visibility 0s ease 0.5s;

  &.popin--active {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, transform 0.5s;
  }

  &__closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgb(131, 131, 131);
    padding: 0;
    font-size: 18px;
  }

  &__title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;

    & + .popin__buttons {
      padding-top: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    padding: 40px 0 0;
  }

  &__button {
    border-radius: 5px;
    background-color: $primary;
    border: 1px solid $primary;
    height: 40px;
    color: white;
    font-size: 20px;
    padding: 0 20px;
    margin-right: 20px;
    transition: all 0.3s;

    &:last-child {
      margin-right: 0;
    }

    &[disabled] {
      border-color: rgb(175, 175, 175);
      background-color: rgb(175, 175, 175);
    }

    &:active {
      background-color: darken($primary, 20);
      border-color: darken($primary, 20);
    }

    &.secondary {
      background-color: transparent;
      color: $primary;

      &[disabled] {
        background-color: transparent;
        color: rgb(175, 175, 175);
      }

      &:active {
        background-color: transparent;
        color: darken($primary, 20);
      }
    }

    &.danger {
      background-color: $danger;
      border-color: $danger;

      &:active {
        background-color: darken($danger, 20);
        border-color: darken($danger, 20);
      }
    }

    &.secondary.danger {
      background-color: transparent;
      color: $danger;

      &:active {
        background-color: transparent;
        color: darken($danger, 20);
      }
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 15;
  transition: opacity 0.5s, visibility 0s ease 0.5s;

  &.backdrop--active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
}
