<div class="game">
  <app-menu (addPlayer)="addPlayerClicked()"></app-menu>
  <app-player-list (addPlayer)="addPlayerClicked()"></app-player-list>
  <app-timer></app-timer>
  <app-base-list></app-base-list>
</div>

<app-popin [(modal)]="addPopin" [title]="'NEW_PLAYER' | translate" [buttons]="[{text: 'CANCEL' | translate, secondary: true}, {text: 'ADD' | translate, disabled: newPlayerName.length === 0}]" (buttonPressed)="addPlayer($event)">
  <input class="addPopin__input" type="text" [placeholder]="'PLAYER_NAME' | translate" [(ngModel)]="newPlayerName" #input (keydown.enter)="addPlayer(1)">
</app-popin>
