.game {
  background-image: url(../../../../assets/images/app/background-table.jpg);
  min-height: 100vh;
  background-size: cover;
  padding-left: 280px;
}

.addPopin__input {
  width: 300px;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
}
