@import 'styles';

.baseList {
  &__addButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 5px dashed white;
    color: white;
    font-size: 30px;
    line-height: 18px;
    opacity: 0.5;
    width: 200px;
    height: 120px;
    border-radius: 10px;

    @media (hover: hover) {
      &:hover {
        opacity: 0.4;
      }
    }

    &:active {
      opacity: 0.3;
    }

    &--deleteCreature {
      border-color: $danger;
      color: $danger;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @media (hover: hover) {
        &:hover {
          opacity: 1;
        }
      }

      &:not(.display) {
        opacity: 0;
      }

      &.isHovered {
        border-color: white;
        color: white;
        opacity: 0.8;
      }
    }

    &__label {
      font-size: 20px;
      display: block;
      margin-top: 15px;
    }
  }
}
