<div class="menu" [ngClass]="{'active': menuOpen}">
  <button class="menu__button" (click)="menuOpen = !menuOpen"><i class="icon-menu"></i></button>

  <div class="menu__wrapper">
    <div class="menu__wrapper__i18n">
      <button class="menu__wrapper__i18n__button" [ngClass]="{'activeLang': language === 'en'}" (click)="setLanguage('en')">EN</button>
      <button class="menu__wrapper__i18n__button" [ngClass]="{'activeLang': language === 'fr'}" (click)="setLanguage('fr')">FR</button>
    </div>
    <button class="menu__wrapper__button menu__wrapper__resetGame" (click)="resetClicked()">
      <i class="icon-reload"></i>
      <span>{{'RESET_GAME' | translate}}</span>
    </button>
    <button class="menu__wrapper__button menu__wrapper__deletePlayer" *ngFor="let player of (playerService.bind() | async)" (click)="deletePlayerClicked(player)">
      <i class="icon-bin2"></i>
      <span>{{player.name}}</span>
    </button>
  </div>
</div>

<app-popin [(modal)]="deletePopin" [title]="removedPlayer ? ('REMOVE_PROMPT'| translate: {playerName: removedPlayer.name}) : ''" [buttons]="[{text: 'CANCEL' | translate, secondary: true}, {text: 'REMOVE' | translate, danger: true}]" (buttonPressed)="callbackDelete($event)"></app-popin>

<app-popin [(modal)]="resetPopin" [title]="'RESET_PROMPT' | translate" [buttons]="[{text: 'CANCEL' | translate, secondary: true}, {text: 'RESET' | translate, danger: true}]" (buttonPressed)="callbackReset($event)"></app-popin>
