@import 'styles';

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform 0.5s;

  &.active {
    transform: translateX(0);
  }

  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;

    &.active {
      display: block;
    }
  }

  &__button {
    position: absolute;
    top: 17px;
    right: -52px;
    font-size: 30px;
    line-height: 30px;

    @include button-active-hover('', null, rgba(255, 255, 255, 0.5), 'simple');
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0, 0, 0.8);
    padding: 40px 0;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    &__i18n {
      display: flex;
      justify-content: flex-end;
      padding: 0 20px;
      margin-bottom: 20px;

      &__button {
        opacity: 0.5;
        padding: 0 5px;
        @include button-active-hover('', null, white, 'simple');

        &[disabled] {
          opacity: 1;
        }
      }
    }

    &__button {
      border-top: 1px solid white;
      height: 50px;
      width: 100%;
      color: white;
      padding: 0 40px;
      text-align: left;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        border-bottom: 1px solid white;
      }

      @media (hover: hover) {
        &:hover {
          background-color: rgba(255, 255, 255, 0.158);
        }
      }

      &:active {
        background-color: rgba(255, 255, 255, 0.349);
      }

      i {
        margin-right: auto;
        line-height: 30px;
      }
    }

    &__timer {
      margin-bottom: 60px;

      &__details {
        position: relative;
        height: 50px;
        color: white;
        border-bottom: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
      }

      &__value {
        width: 70px;
        text-align: center;
        user-select: none;
      }

      &__button {
        @include button-active-hover('', null, white, 'simple');
        font-size: 22px;
      }

      &__reset {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__deletePlayer {
      @include color('menu-player-color-', $playerColors, color, 10);
    }
  }

  &__signature {
    font-size: 13px;
    text-align: center;
    margin-top: auto;
    user-select: none;

    &__label {
      color: rgb(136, 136, 136);
      margin-bottom: 5px;
    }

    &__link {
      color: white;
      @include button-active-hover('', null, white, 'simple');

      @media (hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
