<div [class]="'creature' + ((creature$ | async).owner ? ' color-' + ((creature$ | async).owner.color) : ' creature--monster') + (detailsMode ? ' creature--detailsMode': '')">
  <div class="creature__cardWrapper">
    <div class="creature__card" [ngClass]="{'creature__card--bonusPositive': (totalBonusStrengthSeparator$ | async) === '+'}"
      (mousedown)="mouseDown($event)" (touchstart)="mouseDown($event)" (window:mouseup)="mouseUp()"
      (window:mouseleave)="mouseUp()" (window:touchend)="mouseUp()" (window:touchcancel)="mouseUp()">
      <div class="creature__strengthDetail" *ngIf="totalBonusStrengthSeparator$ | async">
        <span>
          {{(creature$ | async).basicStrength}}
        </span>
        <span class="creature__strengthBonus">
          {{totalBonusStrengthSeparator$ | async}}{{totalBonusStrengthAbsolute$ | async}}
        </span>
      </div>
      <div class="creature__strength" [ngClass]="{'creature__strength--detail': totalBonusStrengthSeparator$ | async}">
        {{(creature$ | async).strength}}
      </div>
    </div>

    <div *ngIf="detailsMode" class="strengthActions">
      <div class="strengthActions__buttonWrapper">
        <button class="strengthActions__button" (click)="increaseBaseStrength()"><i class="icon-plus-square"></i></button>
        <button class="strengthActions__button" (click)="decreaseBaseStrength()" [disabled]="(creature$ | async).basicStrength <= 0"><i class="icon-minus-square"></i></button>
      </div>
      <div class="strengthActions__label">
        {{((creature$ | async).owner ? 'BASE_STRENGTH' : 'BASE_STRENGTH_MONSTER') | translate}}
      </div>
    </div>
  </div>

  <div class="actions" *ngIf="detailsMode">
    <div class="actions__buttonWrapper">
      <button class="actions__deleteButton" *ngIf="detailsMode" (click)="delete()">
        <i class="icon icon-bin2"></i>
      </button>
    </div>
    <div class="strengthActions strengthActions--secondary" *ngIf="(creature$ | async).owner">
      <div class="strengthActions__buttonWrapper">
        <button class="strengthActions__button" (click)="increaseDuringTurnStrength()"><i class="icon-plus-square"></i></button>
        <div class="strengthActions__value">
          {{(creature$ | async).modifierDuringOwnerTurn > 0 ? '+' : ''}}{{(creature$ | async).modifierDuringOwnerTurn}}
        </div>
        <button class="strengthActions__button" (click)="decreaseDuringTurnStrength()"><i class="icon-minus-square"></i></button>
      </div>
      <div class="strengthActions__label">
        {{'BONUS_STRENGTH_DURING_TURN' | translate:(translatePlayerParam | async)}}
      </div>
    </div>
  </div>
</div>
