<div [class]="'creature' + ((creature$ | async).owner ? ' color-' + ((creature$ | async).owner.color) : ' creature--monster') + (detailsMode ? ' creature--detailsMode': '')">
  <div class="actions actions--top" *ngIf="detailsMode">
    <div class="actions__row">
      <button class="actions__button" (click)="decreaseBaseStrength()" [disabled]="(creature$ | async).basicStrength <= 0"><i class="icon-minus-square"></i></button>
      <div class="actions__value">
        {{(creature$ | async).basicStrength}}
      </div>
      <button class="actions__button" (click)="increaseBaseStrength()"><i class="icon-plus-square"></i></button>
      <div class="actions__label">
        {{'BASE_STRENGTH' | translate}}
      </div>
    </div>
  </div>

  <div class="creature__card" [ngClass]="{'creature__card--bonusPositive': (totalBonusStrengthSeparator$ | async) === '+'}"
    (mousedown)="mouseDown($event)" (touchstart)="mouseDown($event)" (window:mouseup)="mouseUp()"
    (window:mouseleave)="mouseUp()" (window:touchend)="mouseUp()" (window:touchcancel)="mouseUp()">
    <div class="creature__strengthDetail" *ngIf="totalBonusStrengthSeparator$ | async">
      <span>
        {{(creature$ | async).basicStrength}}
      </span>
      <span class="creature__strengthBonus">
        {{totalBonusStrengthSeparator$ | async}}{{totalBonusStrengthAbsolute$ | async}}
      </span>
    </div>
    <div class="creature__strength" [ngClass]="{'creature__strength--detail': totalBonusStrengthSeparator$ | async}">
      {{(creature$ | async).strength}}
    </div>
  </div>

  <button class="creature__deleteButton" *ngIf="detailsMode" (click)="delete()">
    <i class="icon icon-bin2"></i>
  </button>

  <div class="actions" *ngIf="detailsMode">
    <div class="actions__row actions__row--bonus">
      <button class="actions__button" (click)="decreaseBonusStrength()"><i class="icon-minus-square"></i></button>
      <div class="actions__value">
        {{(creature$ | async).bonusStrength > 0 ? '+' : ''}}{{(creature$ | async).bonusStrength}}
      </div>
      <button class="actions__button" (click)="increaseBonusStrength()"><i class="icon-plus-square"></i></button>
      <div class="actions__label">
        {{'BONUS_STRENGTH' | translate}}
      </div>
    </div>

    <div class="actions__row" *ngIf="(creature$ | async).owner">
      <button class="actions__button" (click)="decreaseDuringTurnStrength()"><i class="icon-minus-square"></i></button>
      <div class="actions__value">
        {{(creature$ | async).modifierDuringOwnerTurn > 0 ? '+' : ''}}{{(creature$ | async).modifierDuringOwnerTurn}}
      </div>
      <button class="actions__button" (click)="increaseDuringTurnStrength()"><i class="icon-plus-square"></i></button>
      <div class="actions__label">
        {{'BONUS_STRENGTH_DURING_TURN' | translate:(translatePlayerParam | async)}}
      </div>
    </div>
  </div>
</div>
