@import 'styles';

.creatures {
  position: fixed;
  z-index: 5;
}

.globalActions {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  padding: 20px;

  &__player {
    display: inline-block;
    margin: 20px 30px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__addCreature {
    @include button-active-hover($playerColors, null, 'background');
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
    font-size: 20px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &--quick {
      .icon{
        display: inline-block;
        margin-right: 3px;
      }

      .strength {
        font-size: 22px;
      }
    }
  }
}
